.wineDetails {
    background: #fff;
    // display: flex;
    // flex-direction: column;
    height: 100%;
    header {
        height: 0.45rem;
        position: relative;
        // padding: 0 0.2rem;
        line-height: 0.45rem;
        background: #fff;
        border-bottom: 1px solid #dedede;

        svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        p {
            text-align: center;
            font-size: 0.16rem;
            width: 2.2rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .wine-tabs{
        // flex: 1;
        // overflow-x: hidden;
    }
    .calousel {
        width: 100%;
        height: 3.45rem;
        border-bottom: 1px solid #dedede;

        img {
            width: 100%;
            height: 3.45rem;
            background: #dedede;
        }
    }

    .goods-introduce {
        padding: 0.1rem 0.2rem;

    }

    .productName {
        height: 0.75rem;
        border-bottom: 1px solid #dedede;

        p {
            line-height: 0.25rem;
            font-size: 0.14rem;
        }

        .icon {
            float: right;
            overflow: hidden;

            svg {
                width: 0.18rem;
                height: 0.18rem;
                margin-bottom: 0.05rem;
                margin-left: 0.05rem;
            }

            span {
                display: block;
                font-size: 0.12rem;
            }
        }
    }

    .price {
        overflow: hidden;
        height: 0.4rem;

        // border-bottom: 1px solid #dedede;
        span {
            line-height: 0.4rem;
            display: block;
        }

        span:nth-child(1) {
            color: red;
            float: left;
            font-size: 0.16rem;
        }

        span:nth-child(2) {
            float: right;
        }
    }

    .goodsNum {
        overflow: hidden;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        padding: 0.1rem 0;

        >span {
            float: left;
            line-height: 0.35rem;
            margin-right: 0.1rem;
        }
    }

    .cal {
        float: left;
        width: 1.5rem;
        height: 0.35rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.1rem 0.1rem;

        span {
            float: left;
            display: block;
            width: 0.5rem;
            height: 100%;
            background: #f8f8f8;
            text-align: center;
            font-size: 0.2rem;
            line-height: 0.35rem;
        }

        span:nth-of-type(1) {
            border-radius: 0.1rem 0 0 0.1rem;
        }

        span:nth-of-type(3) {
            float: right;
            border-radius: 0 0.1rem 0.1rem 0;
        }

        span:nth-of-type(2) {
            width: 0.45rem;
            background: #fff;
            font-size: 0.16rem;
            height: 100%;
            text-align: center;
            border: 0 none;
        }
    }

    .tips {
        p {
            height: 0.4rem;
            line-height: 0.4rem;

            span {
                margin-left: 0.05rem;
            }
        }
    }

    .comment {
        span {
            display: block;
            line-height: 0.3rem;
            border-bottom: 1px solid #dedede;
        }
    }

    .goodsDetails {
        width: 100%;
        .tabs {
            width: 100%;
            display: flex;
            height: 0.5rem;
            justify-content: space-between;

            // padding: 0 0.2rem;
            li {
                width: 33.333333%;
                float: left;
                line-height: 0.5rem;
                border-right: 1px solid #ddd;

                span {
                    display: block;
                    text-align: center;
                    font-size: 0.16rem;
                }
            }

            li:nth-child(3) {
                border: 0;
            }
        }

        .goodsImg {
            li {
                img {
                    width: 100%;
                }
            }
        }

        table {
            tbody {
                tr {
                    td {
                        padding: 0.1rem 0.2rem;
                    }
                }
            }
        }
    }
    .commentsData{
        margin-bottom: 0.5rem;
    }
    .detailsFoot{
        display: flex;
        // padding: 0.1rem 0;
        border-top: #e5e5e5;
        // margin-top: 0.5rem;
        justify-content: space-between;
        height: 0.5rem;
        width: 100%;
        position: relative;
        z-index: 9999999999;
        position: fixed;
        bottom: 0;
        left: 0;
        background: red;
        a{
           display: block; 
           text-align: center;
           color: #333;
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 0.16rem;
           >span{
               display: block;
           }
        }
        a:nth-of-type(1),a:nth-of-type(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            span:nth-of-type(1){
                margin-bottom: 0.05rem;
                position: relative;
            }
            svg{
                width: 0.2rem;
                height: 0.2rem;
            }
            i{
                position: absolute;
                top: -0.08rem;
            }
        }
        a:nth-of-type(1){
            border-right: #f5f5f5;
        }
        a:nth-of-type(3){
            background: #f85;
            color: #fff;
            height: 100%;
        }
        a:nth-of-type(4){
            background: #f44;
            color: #fff;
            height: 100%;
        }
    }
}