.carts {
    header {
        height: 0.45rem;
        background: #fff;
        position: relative;
        border-bottom: 1px solid #ddd;
        p {
            text-align: center;
            line-height: 0.45rem;
            font-size: 0.16rem;
        }

        div {
            width: 0.6rem;
            height: 100%;
            position: absolute;
            line-height: 0.45rem;
            right: 0.1rem;
            top: 50%;
            transform: translateY(-50%);

            span {
                color: #555;
                float: left;
            }

        }

    }

    .emptyCarts {
        display: flex;
        flex-direction: column;
        height: 100%;

        .cart {
            flex: 1;
            overflow-x: hidden;

            .tip {
                text-align: center;
                background-color: #F4F5F7;
                color: #666;
                font-size: 12px;
                line-height: 1.5;

                img {
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    margin-top: 40px;
                    margin-bottom: 0.2rem;
                }

                h5 {
                    color: #252525;
                    font-weight: normal;
                    margin-bottom: 0.2rem;
                }

                p {
                    margin-bottom: 0.15rem;
                }

                span {
                    display: block;
                    // height: 30px;
                    width: 0.6rem;
                    font-size: 14px;
                    // line-height: 28px;
                    background-color: #fb223e;
                    border: 1px solid #fb223e;
                    color: #fff;
                    padding: 0.08rem 0.15rem;
                    border-radius: 0.05rem;
                    margin: 0 auto;
                    margin-bottom: 0.3rem;
                }
            }

            .like {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .goods {
                img {
                    height: 100%;
                }

                p {
                    margin: 0.05rem 0 0.1rem;
                }
            }
        }
    }

    .CartLists {
        .goodsLists{
            height: 100%;
            overflow: hidden;
        }
        .am-list-item {
            min-height: 120px;
        }

        .am-list-content {
            height: 100%;

            .am-list-brief {
                overflow: hidden;

                img {
                    width: 0.9rem;
                    height: 0.9rem;
                    border-radius: 0.08rem;
                    float: left;
                }

                .goodsMsg {
                    float: right;
                    width: 1.8rem;

                    p {
                        white-space: normal;
                        font-size: 0.14rem;
                        color: #333;
                        margin-bottom: 0.2rem;
                    }

                    .price {
                        overflow: hidden;

                        >span {
                            color: red;
                            float: left;
                        }
                    }

                    .cal {
                        float: right;
                        width: 1.0rem;
                        height: 0.28rem;
                        border: 1px solid #e5e5e5;
                        border-radius: 0.1rem 0.1rem;
                        position: relative;
                        z-index: 99999999;
                        span {
                            float: left;
                            display: block;
                            width: 0.3333rem;
                            height: 100%;
                            background: #f8f8f8;
                            text-align: center;
                            font-size: 0.2rem;
                            line-height: 0.28rem;
                            color: #555;
                        }

                        span:nth-of-type(1) {
                            border-radius: 0.1rem 0 0 0.1rem;
                        }

                        span:nth-of-type(3) {
                            float: right;
                            border-radius: 0 0.1rem 0.1rem 0;
                        }

                        span:nth-of-type(2) {
                            width: 0.3333rem;
                            background: #fff;
                            font-size: 0.16rem;
                            height: 100%;
                            text-align: center;
                            border: 0 none;
                        }
                    }

                }

            }

        }

        .allSelects {
            height: 0.5rem;
            position: fixed;
            bottom: 0.5rem;
            left: 0;
            width: 100%;

            .am-list-item {
                height: 0.5rem;
                min-height: 0px;
            }

            .am-list-content {

                // width: 2.0rem;
                span:nth-child(1) {
                    display: block;
                    width: 1rem;
                    float: left;
                    line-height: 0.5rem;
                    margin-right: 0.1rem;

                    i {
                        color: red;
                        font-style: normal;
                    }
                }

                span:nth-child(2) {
                    display: block;
                    color: #fff;
                    height: 100%;
                    ;
                    font-size: 0.16rem;
                    float: right;
                    background-color: #fb223e;
                    padding: 0 0.3rem;
                    line-height: 0.5rem;
                    border: 1px solid #fb223e;
                }
            }
        }
    }
}