.app-home {
    background: #dfdfdf;
    height: 100%;
}

.banner {
    position: relative;
    background: #dfdfdf;
    height: 1.87rem;

    .search {
        display: block;
        width: 90%;
        height: 0.35rem;
        border-radius: 6px;
        padding: 5px 5%;
        background: #fff;
        position: absolute;
        line-height: 0.25rem;
        top: 0.1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        color: #ddd;
    }
}

.kinds {
    .am-grid {
        border-bottom: 1px solid #dfdfdf;
        background: #dfdfdf;
        height: 1.81rem;
    }

    .am-flexbox {
        height: 0.9rem;
    }
}




.calouselGoods {
    padding: 0.2rem 0;
    background: #f8f8f8;

    .am-carousel-wrap {
        display: none;
    }

    .goods {
        overflow: hidden;

        img {
            float: left;
            margin-right: 0.1rem;
            border-radius: 0.05rem;
        }

        .side {
            width: 1.6rem;
            float: left;
            position: relative;
            height: 1rem;

            strong {
                font-size: 0.12rem;
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                position: absolute;
                bottom: 0.1rem;
                left: 0;
                width: 100%;

                span:nth-child(1) {
                    color: red;
                    float: left;
                }

                span:nth-child(2) {
                    background: skyblue;
                    color: #fff;
                    border-radius: 0.05rem;
                    padding: 0.02rem 0.05rem;
                    float: right;
                }
            }
        }
    }
}

.goodList {
    .am-grid-item-content{
        height: 2.71rem;
        // background: #f1f1f1;
    }
    img {
        background: #f1f1f1;
    }

    p {
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;

    }

    span {
        color: red;
        text-align: left;
    }
}
.selectwine{
    // margin-top: 0.1rem;
}